---
import { getCollection } from 'astro:content';
import { getPaddingClass } from '@utils/styleUtils';
import type { PaddingSize } from '@utils/styleUtils';
import { Image } from 'astro:assets';

interface Props {
    padding?: PaddingSize;
    paddingTop?: PaddingSize;
    paddingBottom?: PaddingSize;
}

const { padding, paddingTop, paddingBottom } = Astro.props;
const paddingClass = getPaddingClass({ padding, paddingTop, paddingBottom });

const teamMembers = await getCollection('team', ({ data }) => {
    return data.publish !== false;
});

// Sort team members by order
const sortedTeamMembers = teamMembers.sort((a, b) => a.data.order - b.data.order);
---
<section class:list={['relative bg-[#E2E0DF]', paddingClass]}>
    <div class="site-container mx-auto px-4">
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-8 xl:gap-x-8 xl:gap-y-14">
        {sortedTeamMembers.map((member, index) => (
          <div
            class="group relative flex flex-col rounded-2xl overflow-hidden transition-shadow duration-300 bg-[#DCD4CA] text-[#1F150E] border border-[#CBB898]/50 hover:border-[#CBB898] shadow-md hover:shadow-[0_14px_45px_rgba(203,184,152,0.65)]"
            data-aos="fade-up"
            data-aos-delay={index * 100}
            data-aos-duration="800"
          >
            <a href={`/team/${member.id}`} class="flex flex-col">
              <div class="relative overflow-hidden">
                <span class="absolute inset-0 -mt-12 w-1/2 translate-x-[250%] rotate-12 bg-[#CBB898] opacity-40 group-hover:translate-x-[-250%] transition-all duration-700 ease-out z-10 pointer-events-none" />
  
                {member.data.headshot ? (
                  <Image
                    src={member.data.headshot}
                    alt={member.data.name}
                    width={896}
                    height={1280}
                    quality={80}
                    format="webp"
                    class="w-full aspect-[3/4] object-cover group-hover:scale-110 group-hover:brightness-[1.2] transition-transform duration-500 ease-in-out"
                    loading="eager"
                    decoding="async"
                  />
                ) : (
                  <div class="w-full aspect-[3/4] bg-gray-300 rounded-md flex items-center justify-center">
                    <span class="text-gray-500">No Image</span>
                  </div>
                )}
              </div>
  
              <div class="p-4">
                <h3 class="text-lg font-semibold text-[#2F1E13] group-hover:text-[#A48963] transition-colors duration-300">
                  {member.data.name}
                </h3>
                <p class="text-sm text-[#8F8379] mt-1">{member.data.jobTitle}</p>
              </div>
            </a>
          </div>
        ))}
      </div>
    </div>
  </section>
  
  