---
export interface Props {
  title: string;
  subtitle: string;
  image: any;
  alt?: string;
  link?: string;
}

const { title, subtitle, image, link ,alt = `${title} Project` } = Astro.props;
import {Image} from 'astro:assets';
---
<!-- color 1 : #E2E0DF  color 2 #D0C2A9 coloe 3 #5C331C color 4 #32160B -->
 <!-- #746d6d -->


 <div 
  class="group relative flex flex-col rounded-2xl overflow-hidden transition-shadow duration-300 border shadow-md hover:shadow-2xl"
  data-aos="fade-up"
  data-aos-delay={100}
  data-aos-duration="800"
  style="
    background-color: var(--color-background-light);
    color: var(--color-body-base);
    border-color: var(--color-secondary);
  "
>


    <!-- Shine ripple effect only (no blur) -->
    <span 
      class="absolute inset-0 -mt-12 w-1/2 translate-x-[250%] rotate-12 opacity-10 group-hover:translate-x-[-250%] transition-transform duration-1000 ease-out z-10 pointer-events-none"
      style="background-color: var(--color-primary-light);"
    ></span>

    <!-- Image -->
    <a href={link}>
    <Image
      src={image}
      alt={alt}
      width={896}
      height={1280}
      quality={80}
      format="webp"
      class="w-full aspect-[3/4] object-cover rounded-t-2xl group-hover:scale-105 group-hover:brightness-110 transition-transform duration-500 ease-in-out"
      loading="eager"
      decoding="async"
    />
 
    <!-- Card Content -->
    <div class="p-5 sm:p-6 bg-[--color-background] relative z-20">
      <h3 
        class="text-lg sm:text-xl font-semibold text-[--color-headline] transition-colors duration-300 group-hover:text-[--color-primary-dark]"
      >
        {title}
      </h3>
      <p class="text-sm mt-1 text-[--color-body-light] opacity-80 group-hover:text-[--color-accent] transition-colors">
        {subtitle}
      </p>
    </div>
  </a>

</div>
